.mainContainer {
  position: relative;
}

.dashBoard {
  position: absolute;
  top: 0px;
  left: 131px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-btween {
  justify-content: space-between;
}

/* Main DashBoard */
.header {
  height: 88px;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
}

.header .dash {
  color: #000;
  font-family: Poppins;
  font-size: 33.383px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.jobSearch {
  padding-right: 20px;
}

.jobSearch p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .jobSearch p:nth-child(2) {
  border-radius: 11px;
  border: 0.5px solid #000;
  background: #fff;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

.actively {
  border-radius: 11px;
  border: 1px solid grey;
  background: #fff;
  color: #000;
  padding: 6px 12px;
  justify-content: space-between;
}

.actively img {
  width: 12.219px;
  height: 12.219px;
  margin: 3px;
  padding: 2px;
}

.actively p {
  color: #000;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.applications {
  width: 800px;
  height: 370px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 8px 2px 30px 0px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.appHeader {
  justify-content: space-between;
  padding: 20px;
}

.appHeader p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.appHeader p:nth-child(2) {
  color: #043ca7;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.jobBody {
  width: 780px;
  height: 84.82px;
  margin: 4px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.jobRole {
  margin: 4px;
}

.jobImage img {
  width: 65.032px;
  height: 60.088px;
  border-radius: 13px;
  margin: 6px;
}

.jobRole p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.jobRole p:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.5;
}

.jobRole p:nth-child(3) {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.5;
}

.jobSalary {
  margin-top: 26px;
}

.left {
  margin-right: 17px;
}

.jobSalary p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.jobSalary p:nth-child(2) {
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.5;
}

.rejected {
  width: 89.364px;
  height: 21.195px;
  border-radius: 12px;
  background: #faa;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  color: #af0808;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin-top: 28px;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.jobButton img {
  margin-top: 28px;
  margin-right: 5px;
}

.jobButton img {
  width: 21.859px;
  height: 21.992px;
}

.jobButton .process {
  width: 89.364px;
  height: 21.195px;
  border-radius: 12px;
  background: #fff3b2;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  color: #ae9407;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin-top: 28px;
  margin-right: 34px;
  border: none;
  outline: none;
  cursor: pointer;
}

.jobButton p {
  color: #ff0808;
  font-family: Poppins;
  font-size: 9.757px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.7;
  margin-left: 10px;
}

.jobButton .selected {
  width: 89.364px;
  height: 21.195px;
  border-radius: 12px;
  background: #c4ffd1;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  color: #00a324;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin-top: 28px;
  margin-right: 34px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mainPartTwo {
  width: 350px;
  height: 437px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
}

.suggestHeader {
  justify-content: space-between;
  margin: 12px;
}

.suggestHeader p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.suggestHeader p:nth-child(2) {
  color: #043ca7;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.suggestionImage {
  display: flex;
  flex-direction: row;
}

.suggestionImage img:first-child {
  width: 234px;
  height: 129px;
  margin-top: 24px;
  margin-left: 50px;
}

.suggestionImage img:nth-child(2) {
  margin-left: 18px;
  margin-top: 16px;
  margin-right: 10px;
  width: 5.664px;
  height: 18.77px;
}

.suggestName p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 13.767px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.suggestName p:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 8.442px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
}

.suggestName p:nth-child(3) {
  color: #000;
  font-family: Poppins;
  font-size: 11.843px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.suggestButton button {
  width: 70.884px;
  height: 24.867px;
  border-radius: 4.651px;
  background: linear-gradient(
    123deg,
    rgba(254, 178, 123, 0.7) 0%,
    rgba(249, 191, 149, 0.89) 100%
  );
  box-shadow: 0px 2px 4.651198387145996px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
}

.SuggestInfo {
  justify-content: space-between;
  margin: 14px;
}
.jobsHr {
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0.5;
  width: 700px;
  height: 1px;
  opacity: 0.5;
  background: #d2cece;
}
hr {
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0.5;
  width: 277.421px;
  height: 1px;
  opacity: 0.5;
  background: #d2cece;
}

.jobs {
  position: absolute;
  top: 500px;
  left: 131px;
}

/* Recommendations */
.justify-center {
  justify-content: center;
}

.space-btween {
  justify-content: space-between;
}

.recommendation {
  width: 800px;
  height: 250px;
  padding-left: 20px;
  margin-top: 20px;
}

.title p {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0px;
}

.div4 img {
  width: 7.721px;
  height: 7.424px;
  flex-shrink: 0;
  margin-top: 5px;
}

.title img {
  width: 7.931px;
  height: 26.284px;
  flex-shrink: 0;
}

.div4 {
  color: #000;
  font-family: Poppins;
  font-size: 14.594px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.7;
}

.details .text {
  color: #043ca7;
  font-family: Poppins;
  font-size: 17.795px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name .div4 {
  padding: 10px 8px;
}

.name img {
  margin: 6px 6px;
}

.outerBox {
  width: 800px;
  height: fit-content;
  border-radius: 10px;
  background: #fff;
  box-shadow: 8px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.combine {
  margin: 14px;
}

.recommImage img {
  width: 65.032px;
  height: 60.088px;
  border: 1px solid white;
  border-radius: 50px;
  background: #fff;
  box-shadow: 8px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.recomDetails {
  margin-left: 8px;
}

.recomDetails p:first-child {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.recomDetails p:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 11.672px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.recomDetails p:nth-child(3) {
  color: #000;
  font-family: Poppins;
  font-size: 11.672px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.divApp img {
  width: 8.724px;
  height: 8.388px;
  flex-shrink: 0;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 4px;
}

.divApp .red {
  color: #b90202;
  font-family: Poppins;
  font-size: 11.672px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.7;
}

.divApp .green {
  color: #068923;
  font-family: Poppins;
  font-size: 11.672px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.7;
}

.recommButton {
  margin-right: 30px;
}

.recommButton button {
  margin-top: 33px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  color: #2cc369;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  width: 142px;
  height: 35px;
  background-color: #fff;
  border-color: #2cc369;
  border-radius: 10px;
  cursor: pointer;
}

.recommButton img {
  width: 11.106px;
  height: 16.733px;
  margin-bottom: 40px;
  margin-top: 14px;
}

/*  UPCOMING EVENTS */
.eventsUp {
  width: 350px;
  height: 437px;
  margin-left: 32px;
}

.titleUpcoming p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titleUpcoming img {
  width: 5.664px;
  height: 18.77px;
}

.outerEventBox {
  margin-top: 5px;
  width: 350px;
  height: 310px;
  border-radius: 15px;
  border-radius: 10px;
  background: #fcfbff;
  box-shadow: 8px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.space-around {
  justify-content: space-around;
}

.vernaImage {
  width: 56.437px;
  height: 52.146px;
}

.dateContainer {
  color: #000;
  font-family: Poppins;
  font-size: 11.296px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 131.242px;
  height: 26.19px;
  flex-shrink: 0;
  border-radius: 9.414px;
  background: #fef6ff;
  box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin-left: 200px;
}

.outerEventBox {
  padding: 8px;
}

.upcomingInnerBox {
  width: 290px;
  height: 80px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 8px;
}

.dateContainer img {
  width: 9.815px;
  height: 6px;
  margin-top: 12px;
  margin-left: 8px;
}

.dateContainer p {
  margin-top: 7px;
}

.upDetails {
  margin-top: 12px;
  margin-right: 5px;
}

.upDetails .first {
  color: #000;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.upDetails .second {
  color: #000;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.7;
}

.upDetails .time {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.upDetails .tom {
  color: #bc0f0f;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.upImage img {
  margin-top: 7px;
  margin-left: 10px;
  width: 56.437px;
  height: 52.146px;
}

.upImage p {
  color: #000;
  font-family: Poppins;
  font-size: 10.494px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding-left: 20px;
  padding-bottom: 2px;
}

.ver p {
  color: #000;
  font-family: Poppins;
  font-size: 10.494px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding-left: 10px;
  padding-bottom: 2px;
}

.ver img {
  margin-top: 7px;
  margin-left: 10px;
  width: 56.437px;
  height: 52.146px;
}

.port {
  margin-right: 16px;
}

.group {
  margin-right: 40px;
}
